# Доп. провайдеры для Airflow 3.2.1.
# Базовый Airflow + celery + postgres + fab уже установлены через extras в Dockerfile.

# Bash/Python/Empty-операторы в 3.x вынесены в standard provider
apache-airflow-providers-standard
